* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.wrapper__header-compressor {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper__header {
    width: 80%;
}

.header__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header__logo {
    background: #ffc13b;
    width: 10%;
    height: 5vh;
}

.header__navigation {
    background: #ffc13b;
    width: 39%;
    height: 5vh;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.header__heading-one {
    background: #ffc13b;
    width: 40%;
    height: 20vh
}

.header__picture {
    background: #ffc13b;
    width: 50%;
    height: 29vh;
    
}

.wrapper__content_space-between-row{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 3%;
}

.wrapper__content__section-one {
    background: #ef9d10;
    width: 80%;
    display: flex;
    justify-content: center;
}

.first-part {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: inherit;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 15px;
}

.heading__content-part-one {
    width: 90%;
    height: 50px;
    background-color: #0d1137;
    margin-bottom: 30px;
}

.container__box-content {
    width: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box__content {
    width: 160px;
    height: 160px;
    margin: 10px;
    background: #c6d7eb;
}
.two-elems {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    background: #fff1e1;
}

.box__content-pt2 {
    background: #c6d7eb;
    width: 180px;
    height: 220px;
    margin: 20px;
}


.fourth-part {
    width: 80%;
    background: #ecc19c;
    margin-top: 25px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.top__container {
    width: 90%;
    height: 50px;
    background-color: #0d1137;
    margin-bottom: 30px;
    margin-top: 20px;
}

.bottom__container-wrapper {
    display: flex;
    justify-content: center;
}

.botom-content__fourth-part {
    background: #c6d7eb;
    width: 180px;
    height: 180px;
    margin: 20px;
}

.last-part {
    width: 80%;
    background: #ff6e40;
    margin-top: 25px;
    display: flex;
    flex-flow: column wrap;
}

.heading-wrapper__last-part {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.heading__last-part {
    background-color: #0d1137;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 90%;
    height: 50px;
}

.box-wrapper__last-part {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.box__last-part {
    background: #c6d7eb;
    width: 180px;
    height: 180px;
    margin: 20px;
}

.wrapper__bottom-part {
    width: 100%;
    background: #6b7b8c;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.footer-elems {
    background: #c6d7eb;
    width: 180px;
    height: 180px;
    margin: 20px;
}

.x3 {
    flex: 0 0 30%;
    margin-right: 120px;
}

/* back btn */
.back-btn {
    font-size: 20px;
    text-transform: capitalize;
    margin: 35px;
    border: 3px dashed #c66b3d;
    width: 65px;
    height: 50px;
    padding: 10px;
    position: absolute;
    top: -10px;
    left: 10px;
}

.back-btn a {
    text-decoration: none;
    color: black;
}